/* ===========================
   COLORS
   =========================== */

/* Highlight colors */
$orange: #f19800;
$blue: #00a9e3;
$gray: #D3D3D3;

/* Neutro colors */
$white: #FFF;
$black: #000;
$transparent: transparent;